@font-face {
		font-family:sourcesans;
		src:url(./Assets/fuentes/sourcesans/SourceSansPro-Regular.ttf)
}

@font-face {
		font-family:sourcesans-light;
		src:url(./Assets/fuentes/sourcesans/SourceSansPro-Light.ttf)
}
