<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/css/estilos.css">
    <title>Cocina Extravagante</title>
  </head>
  <body>

    <header>
      <div class="subheader">
        <div id="logotipo"><p><a href="">Cocina Extravagante</a></p></div>
        <nav>
					<div class="navegacion">
            <div class="menu"><ul></div>
						<div class="Inicio"><li><a href="#">Inicio</a></li></div>
						<div class="Recetas"><li><a href="./recetas.html">Recetas</a></li></div>
						<div class="Contacto"><li><a href="#">Contacto</a></li></div>
            <div class="Recetas"><li><a href="#">Historia</a></li></div>
						<div class="Contacto"><li><a href="#">Blog</a></li></div>
					</ul></div>
				</nav>
      </div>
    </header>

      <section id="wrap">

      <section id="main">

    <section id="bienvenidos">
      <article>
        <h2>Bienvenidos a nuestra página de Cocina</h2>
        <p>Aqui encontraran recetas caseras, rapidas y sabrosas!!</p>
      </article>
    </section>

      <section id="contenido">
        <h3>Aqui les traigo una receta para que hagan en sus casas, no es complicada y es una muy buena entrada para disfrutar en familia</h3>
        <h2>Huevos Rellenos</h2>
        <article>
        <p>Los ingredientes que van a necesitar son los siguientes</p>
        <ul>
          <li>Huevos Cantidad a elegir</li>
          <li>1 Lata de Atún</li>
          <li>Mayonesa, Cantidad a rellenar</li>
          <li>Ketchup, Cantidad a rellenar</li>
          <li>Condimentos a gusto (perejil,cebolla de verdeo, ajo, aceitunas, pimenton, etc)</li>
        </ul>
      </article>
      </section>

      <section>
        <article>
          <h2>Preparación</h2>
          <ol>
            <li>Hervimos los huevos en una olla</li>
            <li>Pelamos cada uno de los huevos</li>
            <li>Cortamos los huevos que usaremos a la mitad</li>
            <li>Retiraremos de manera uniforme las yemas de las mitades</li>
            <li>Mezclamos en un pequeño bolw, las yemas, la mayonesa, el atún y el ketchup</li>
            <li>A continuación usaremos la mezcla de ingredientes y procederemos a rellenar los huecos de cada mitad de los huevos con el relleno</li>
          </ol>
          <img src="../Assets/Img/huevos.jpg" width="400" height="300" alt="Imagen De la finalización">
          <br>
          <h3>A continuación adjunto un video de manera que se puedan guiar</h3>
          <br>
          <iframe width="400" height="300" src="https://www.youtube.com/embed/igUKFdkin6s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>Aqui pueden descargar la receta</p>
          <a href="../Assets/documentos/Receta Huevos Rellenos.pdf" download="Receta Huevos Rellenos.pdf" target="_blank">Descargar Receta</a>
          </section>
          <a href="https://cookpad.com/ar" target="_blank">Click aqui para mas recetas</a>
        </article>

    </section>
  </section>

  <aside>
    <section class="widget">
      <h3>Articulos Recientes</h3>
      <ul>
        <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li><a href="#">Suspendisse pellentesque s.</a></li>
        <li><a href="#">Fusce in nunc pretium, feu.</a></li>
        <li><a href="#">Proin ac ligula in nibh po.</a></li>
        <li><a href="#">Nullam pretium purus id ve.</a></li>
      </ul>
    </section>

    <section class="widget">
      <h3>Articulos Recientes</h3>
      <img src="../Assets/img/Milanesanapolitana.png"/>
    </section>
  </aside>

</section>

    <footer>
      <section id="acerca-de">
        <article>
          <hgroup><h3>Acerca de ...</h3></hgroup>
          <p>Somos una organización encargada de traer las recetas mas sabrosas y conocidas por todo el mundo, no dudes en que puedes a portar tu receta tranquilamente y nosotros la publicaremos encantados</p>
        </article>
      </section>

      <section id="redes-s">
        <div class="email"><a href="#"></a></div>
        <div class="twitter"><a href="#"></a></div>
        <div class="youtube"><a href="#"></a></div>
        <div class="facebook"><a href="#"></a></div>
      </section>

    </footer>

	<div id="copyright"><p>This is Photoshop's version of Lorem Ipsum. Pro gravida nibh vel velit 2012-2013 </p></div>

  </body>
</html>
